main{
    display: flex;
    justify-content: center;
    align-content: center;
}
.container{
    height: fit-content;
    width: fit-content;
    text-align: center;
    

}
input{
    font-size: 45.5px;
    border: 5px solid black;
    background-color: black;
    color: white;
}
button{
    height: 71px;
    width: 134px;
    font-size: 40px;
    background-color: grey;
    border-radius: 20px;
}
table{
    margin: 0px auto;
    border: 5px solid black;
    height: fit-content;
    width: fit-content;
}
h1{
    font-size: 50px;
    font-family: cursive;
}
.calculator{
    background-color: rgba(245, 139, 236, 0.836);
}